[2014-09-03 22:23] joskuijpers opened #1 "Problemz testing on Windows 7"
I got npm install to work after installing python 2.7.x and MS VC Express 2012. I do get this using npm test though:

[code]

[2014-09-19 04:36] markreg opened #4 "Failing test: no password supplied"
I'm getting a failed test:

1) async connection works with hard-coded connection parameters:
   Error: fe_sendauth: no password supplied

I have the default installation of pg 9.4 and libpq-dev via the package manager

[2015-04-02 15:41] jrozestw opened #10 "Gyp rebuild issue"
Hi,
I experienced an issue when re-running npm install in my project. Please see the log:

npm ERR! libpq@1.5.1 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the libpq@1.5.1 install script.
npm ERR! This is most likely a problem with the libpq package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node-gyp rebui

[2015-04-09 16:56] SupremeTechnopriest commented on #10
:+1:  Im also seeing this on `node 0.10` `node 0.12` and `iojs 1.6.3`

[2015-04-09 18:39] SupremeTechnopriest commented on #10
here is some more detailed output
[code]

[2015-04-09 22:04] MCF commented on #10
I'm seeing the same error on the latest version of OSX:
[code]

[2015-04-10 00:00] pcothenet commented on #10
Same here.

both node-libpq and pg-native are failing at install since the latest OSX update this morning.

[code]

node 0.10.36. Same error with 0.12.2

[2015-04-10 00:05] MCF commented on #10
The nan dependency is stale.  libpq is requiring 1.5.0 which has the build problem seen above.  The issue was noted here: https://github.com/rvagg/nan/issues/231 and fixed in nan 1.7.0.

[2015-04-10 00:45] MCF commented on #10
There is already a pull request to fix this:
https://github.com/brianc/node-libpq/pull/11

[2015-04-13 20:12] gregoralbrecht commented on #10
Also seeing this on `node 0.12.2` with `gyp 1.0.3`. I'm on windows though, if that matters at all.

[2015-05-01 15:03] brianc commented on #10
This should be fixed now - sorry for the delay. I un-pinned the version of `node-nan` in package.json.

[2015-05-01 15:03] #10 closed

[2015-05-01 15:03] brianc commented on #10
This should be fixed now - sorry for the delay. I un-pinned the version of `node-nan` in package.json.

[2015-05-03 09:02] peek4y opened #15 "Failing to install in Win 8"
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (G:\Program Files\nodejs\node_module
s\npm\node_modules\node-gyp\lib\configure.js:343:16)
gyp ERR! stack     at ChildProcess.emit (events.js:98:17)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (child_process.js:820:
12)
gyp ERR! System Windows_NT 6.2.9200
gyp ERR!

[2015-05-03 17:15] Nopik opened #16 "Newest version fails to install with pg_config installed outside of /usr"
In case of BOSH installs pg_config is somewhere under /var/vcap/. Previous libpq was working fine, this one stopped to work.

Suggested workaround: check if pg_config is in path first. If not, then look for it.

[2015-05-03 18:40] brianc commented on #16
@Nopik - thanks for that.  Does this look like it will fix things for you?

https://github.com/brianc/node-libpq/pull/17

[2015-05-03 18:41] brianc commented on #15
Did it use to work for you?  Do you have `pg_config` in your path & available to node-gyp?

[2015-05-03 19:02] Nopik commented on #16
It looks right.

[2015-05-03 19:03] brianc commented on #16
K - I'll merge & bump the version - wanna try after that?

[2015-05-03 19:05] brianc commented on #16
@Nopik published libpq@1.6.2 -- it should automatically be picked up next time you try to npm install pg-native

[2015-05-03 19:25] Nopik commented on #16
It works now, thanks!

[2015-05-03 19:25] #16 closed

[2015-05-03 19:53] katucker commented on #4
It may be just timing out before the lookup fails. Try extending the mocha timeout by adding `--timeout 15000` to test/mocha.opts.

[2015-05-04 01:33] peek4y commented on #15
Yes it was working fine for me. Then it failed in Mac OS X. After the
recent fix on pg-native for Mac OS it started failing in windows
On 4 May 2015 00:11, "Brian C" <notifications@github.com> wrote:

[2015-05-09 09:51] djaonourside opened #19 "Fail lib installation on windows 7/ windows 8(ValueError in python script)"
Hello!
My machine enviroment:
windows 8
node v0.12.2
postgresql 9.4
python 2.7.9 64-bit(also used 2.7.3)
pg_config in PATH
I also tried run on win 7 pc with the same stuff, but I have same err log after "npm install libpq":

PS D:\projects\test> npm install libpq

D:\projects\test\node_modules\libpq>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\n
pm\bin\node-gyp-bi

[2015-05-14 21:56] eczajk1 commented on #19
I have very similar environment to @djaonourside.  This was working for me very recently, but no longer is :cry:.

windows 8
node v0.12.2
postgresql 9.4
python 2.7.8

[code]

Why the four backslashes before node.exe, I wonder?
[code]

[2015-05-17 20:35] brianc commented on #19
I'm pretty sure this commit is the culprit: https://github.com/brianc/node-libpq/commit/d658d489d0b87c4e2e432fb880d1457e987324f6

Can you look at that gypfile config in there and see if there are any obvious errors? I don't have access to a windows machine.  If all else fails I can manually undo the changes to the windows version of the config since it seemed to work just fine previously.

[2015-05-17 20:36] brianc commented on #15
I'm pretty sure this commit is the offending one:

https://github.com/brianc/node-libpq/commit/d658d489d0b87c4e2e432fb880d1457e987324f6

Can you look at that gypfile config in there and see if there are any obvious errors? I don't have access to a windows machine. If all else fails I can manually undo the changes to the windows version of the config since it seemed to work just fine previously.

[2015-05-18 12:17] brianc commented on #19
@djaonourside @eczajk1 can you see if this PR fixes your install issue?

https://github.com/brianc/node-libpq/pull/20

[2015-05-18 12:17] brianc commented on #15
@peek4y can you see if this PR fixes your install issue on windows? https://github.com/brianc/node-libpq/pull/20

[2015-05-18 12:28] eczajk1 commented on #19
It works!  Glad it was obvious for you because it wasn't for me.

[2015-05-18 12:29] brianc commented on #19
I really appreciate you taking a look! Ill merge and release within the
hour! :dancer:

On Monday, May 18, 2015, Eric Czajkowski <notifications@github.com> wrote:

[2015-05-18 12:47] peek4y commented on #15
@brianc  Nope that did not work :( still can't install.

[2015-05-18 12:48] brianc commented on #15
Sorry for the dumb question but did you clone this repo & attempt to build the branch containing the PR? I haven't pushed the PR changes to npm yet so installing from NPM is still gonna fail.

[2015-05-18 12:49] brianc commented on #15
I'm gonna push that fix to npm right now anyways since it did fix someone's windows issue.

[2015-05-18 12:49] brianc commented on #15
`npm install libpq@1.6.4` should have the fix now if you wanna try from npm

[2015-05-18 12:50] peek4y commented on #15
Nope, I didn't clone. Will check again now.

[2015-05-18 12:52] peek4y commented on #15
YAY! Works perfectly. Thanks @brianc

[2015-05-18 12:53] brianc commented on #15
Awesome!  I'm happy it fixed it!! :dancer:
Thanks so much for testing it - sorry I don't have access to a well configured windows env.

[2015-05-18 12:53] #15 closed

[2015-05-18 12:53] brianc commented on #19
Sounds like #20 did the trick. :checkered_flag:

[2015-05-18 12:53] #19 closed

[2015-05-18 12:54] peek4y commented on #15
:+1:  No problem, and thanks again.

[2015-06-02 10:10] sasha-alias opened #21 "startReader doesn't work on windows"
Can't read result of async query on windows client.
The query itself gets to the database with no issues. I see it in pg_stat_activity.

Example:
[code]

Output:
[code]

On non-windows platforms works as expected:
[code]

[2015-07-08 12:49] Nekuromento commented on #21
Can confirm, encountered the same issue with version 1.6.4

[2015-07-08 20:29] brianc commented on #21
Sorry i dont have access to a windows machine to test. This code base is
pretty small and clean if you want to dive in and submit a patch that would
be awesome!

On Wednesday, July 8, 2015, Max Klyga <notifications@github.com> wrote:

[2015-07-08 20:49] sasha-alias commented on #21
I actually tried to dive in, but I miss the deeper knowledge of lubuv library.
It fails there on asserts https://github.com/libuv/libuv/blob/v1.x/src/win/poll.c#L219
I was able to hack around of first two by changing node-libpq code, but not the third one in line 221.
Need help.

[2015-07-12 08:43] trailsandtribulations opened #23 "it seems zeros and nulls cannot be passed to parameterized queries"
in the parameterized query
`insert into place_type( plt_id, name, category, spr_plt_id, descr )`
`values( $1, $2, $3, $4, $5 ) returning *`

with the array

`[ 5, 0, 'wat', 'what', null ]`

I get the error

when I substitute 1 and 'something' for 0 and null, it works.

this seems to be pretty major. am I missing something obvious? (hope so!)

[2015-07-12 08:50] trailsandtribulations commented on #23
never mind

was using `args.filter` when I needed `args.map`

[2015-07-12 08:50] #23 closed

[2015-07-27 04:34] emertechie opened #24 "npm install error on ElasticBeanstalk box"
I'm trying to deploy an app which uses this library onto an ElasticBeanstalk box and I get the following error:

[code]

ElasticBeanstalk box is running node 0.12.6. I configured EB to install the `postgresql93-devel` package via yum so I now have `pg_config` in the path. Is there anything that needs to be in the path?

I'm at a bit of a loss for what else could be wrong. Appreciate any suggestion

[2015-07-27 05:12] #24 closed

[2015-07-27 05:15] emertechie commented on #24
My bad - I was running the npm install command via ssh session for quick testing. After adding in the `postgresql93-devel` package to ElasticBeanstalk config, a full redeploy now works.

For anyone else who stumbles on this, the EB config you need is just:

[code]

in a .config file in the .ebextensions folder

[2015-08-13 10:17] trailsandtribulations opened #26 "build under current npm fails in many regards"
have been using node-libpq, but now can no longer build with npm.  seems to be two sorts of errors:

<pre>
../node_modules/nan/nan.h:324:27: error: redefinition of ‘template<class T> v8::Local<T> Nan::imp::NanEnsureHandleOrPersistent(const v8::Local<T>&)’
   NAN_INLINE v8::Local<T> NanEnsureHandleOrPersistent(const v8::Local<T> &val) {
</pre>

and

<pre>
../node_modules/nan/nan.h: In function ‘v8:

[2015-08-13 11:18] axvpast opened #27 "nodejs process die with stacktrace when using SSL"
Used libpq -> pg-native -> sequelize -> our source code
Used connection to PostgreSQL with mandatory SSL (openssl).
sequelize configured with connection pool with values like { min: 15, max: 15 }
In ~10% restarts in first second we got stacktrace like:

Connection parameters: user='KEX' password='test' port=*** glibc detected *** node: double free or corruption (fasttop): 0x000000000208ca50 ***
/l

[2015-08-13 11:22] axvpast commented on #27
Possible solution - add to
libpq/src/addon.cc

--- addon.cc.orig       2015-08-13 14:20:34.000000000 +0300
+++ addon.cc    2015-08-13 14:19:49.000000000 +0300
@@ -69,6 +69,8 @@
   NODE_SET_PROTOTYPE_METHOD(tpl, "$cancel", Connection::Cancel);

   exports->Set(NanNew<v8::String>("PQ"), tpl->GetFunction());
+
+  PQinitSSL( 0 );
 }

 NODE_MODULE(addon, InitAddon)

[2015-08-20 00:09] sirisian opened #28 "Calling functions randomly fails with "Error: Unable to set non-blocking to true""
Should this be an error? I'm not 100% sure, but this doesn't seem like it stops the function call from continuing. Seems more like a Notice type message unless I'm misunderstanding the purpose of the error.

[2015-08-26 18:18] whatupdave opened #29 "Building a static libpq for AWS Lambda"
Trying to get this work on AWS Lambda, getting this:
[code]

According to this article: https://aws.amazon.com/blogs/compute/nodejs-packages-in-lambda/ libpq needs to be statically compiled. I'm a little out of my depth here, but is this something that can be done easily?

[2015-08-27 04:21] Dzenly opened #30 "npm install failed with iojs 3.2.0 due to dependence on old nan module."
`node_modules\libpq\node_modules\nan\nan.h(326): error C2995: 'v8::Local<T> Nan::imp::NanEnsureHandleOrPersistent(const v8::Local<T> &)' : function template has already been defined (..\src\connect-async-worker.cc)`

Could you change used nan version ?

I think the same issue will be with iojs 3.0.0 also.
iojs long ago are not in experimental state, and becomes very popular, I think it is worth to

[2015-09-08 05:51] bkw commented on #26
This should be fixed once #31 is merged.

[2015-09-08 16:52] brianc commented on #30
No problemo - I merged the PR - thinks working better now with `libpq@1.7.0`?

[2015-09-08 16:52] brianc commented on #26
Should be fixed thanks to @bkw - can you test again @trailsandtribulations?

[2015-09-10 01:39] jmealo opened #32 "Node v4.x compatibility"
Hello, I'm having the following issue happen on Ubuntu 14.04 and OSX 10.9 with the latest Node.

[code]

It was working fine on 0.12.x

I'm doing my best to debug it but it's happening far outside the reach of my code happening deep in the UV/C side. Is anyone else having this issue?

[2015-09-10 01:43] #32 closed

[2015-09-10 10:49] trailsandtribulations commented on #26
will test and reply

On Tue, Sep 8, 2015 at 11:52 PM, Brian C <notifications@github.com> wrote:

[2015-09-11 02:23] trailsandtribulations commented on #26
compiles!

if functional problems are found, which I doubt, will post new issue.

[2015-09-11 02:23] #26 closed

[2015-09-18 22:23] abenhamdine commented on #32
Adding to the list: nodejs/node#2798.
Related: #25

[2015-09-19 13:12] #30 closed

[2015-09-19 13:19] brianc commented on #32
There were some issues with the version of npm shipping with node v4.0 that are now fixed.

This module builds & runs fine on node 4.0:

https://travis-ci.org/brianc/node-libpq

@abenhamdine please remove it from the list.  Thanks! :smile:

[2015-10-28 14:15] moretti opened #35 "Suppress libpq error messages"
Hi,

Is there any way to suppress the error messages printed by libpq `errmsg`?

Thanks!

[2015-10-28 14:51] brianc commented on #35
You know...there's actually a PR for that, but the tests don't pass for it so I haven't merged it.

https://github.com/brianc/node-libpq/pull/22

Interested in taking a crack at fixing the code still not working there? Happy to merge it at that point!

[2016-01-11 21:39] jakubknejzlik commented on #28
I'm also getting this error, then using pg-native. Can't find the pattern when this happens, but happens too much to use it in production in my case :( (the worst part is that it blocks the whole connection)

[2016-01-11 21:51] brianc commented on #28
It would be worth asking around on #postgresql on freenode to see what this error means and if other people hit it from other systems.  I haven't seen this error myself & don't have a reliable way to reproduce it in tests; I'd definitely appreciate it if someone could step up & do some research on this issue if its hitting you.

[2016-01-12 03:11] dcrockwell commented on #29
@whatupdave I have a tool that will be ready to solve this problem tonight hopefully. Will reply as soon as it's ready for you.

[2016-01-27 19:52] shashu10 commented on #10
I'm having the same problem with the latest version of npm and node on OSX 10.11.2

snk$ npm install libpq

/bin/sh: pg_config: command not found
gyp: Call to 'pg_config --libdir' returned exit status 127. while trying to load binding.gyp
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (/usr/local/lib/node_modules/npm/node_m

[2016-02-19 00:25] alxpereira opened #37 "AWS Hosting : libpq compiling"
Hi guys,
I have an issue deploying my code on my dev server on AWS (Amazon Linux instance).
It looks like the "libpq" module inherited from my psql config is crashing the thing.

FYI i'm using PM2 to run the app, that is causing this crash.
Using just "node start" it's running properly...

Any idea ?
Thx !
Alex

[2016-02-19 09:36] motiz88 commented on #21
@sasha-alias I wonder if you can take a look at #38 and see if it solves your issue too. I was hitting the same assertion (via simple async use of `node-postgres`) and now it seems OK.

[2016-02-26 09:53] sasha-alias commented on #21
thanks, I will test it

[2016-02-26 20:42] sasha-alias commented on #21
Thanks a lot @motiz88
it works

[2016-02-26 20:42] #21 closed

[2016-03-16 17:05] boriscosic commented on #29
[libpq-static.zip](https://github.com/brianc/node-libpq/files/176483/libpq-static.zip)

@whatupdave @dcrockwell I've upload a libpq created with static binding to libpq for use on aws lambda. All lib files should go inside [lib folder](https://forums.aws.amazon.com/thread.jspa?messageID=706158) and libpq folder should go inside node_modules wherever its required.

To create this I used the postgre

[2016-04-19 21:05] devmetal opened #40 "Build error on windows 8.1"
Hi, i have an issue with this module install. I followed the manual, installed postgresql added to path and i checked the dll and config files.

I use windows 8.1, visual studio 2015 community with the latest npm and node version.

Here is the output of npm install pg-native -g --verbose > output.txt command:

[code]

[2016-05-07 19:45] Chris911 opened #42 "Build error with Node 6.0.0 and 6.1.0"
I'm running into issues when compiling libpq 1.8.2 (through pg-native 1.10.0) on both 6.0.0 and 6.1.0. Node 6 seems to be covered in your CI tests so I'm not sure why it's failing here. Here's the logs from `npm-debug.log`.

[code]

This is on OS X running node 6.1.0 and npm 3.8.6.

[2016-05-07 19:52] Chris911 commented on #42
This might help as well:

[code]

[2016-05-10 05:12] samdj commented on #42
[code]

[2016-05-18 14:19] poshest commented on #42
Same in Ubuntu 12.04, node v6.2

[code]

[2016-05-19 07:19] poshest opened #43 "EACCES: permission denied, mkdir '.../node_modules/libpq/build'"
I'm getting this error when I do a pg-native install, on Ubuntu 12.04.

[code]

It happens whether I `sudo npm` or not. It happens on node versions 0.11, 0.12, 4.3, 6.2.  It happens if I manually create and chmod and chown the `'/home/vagrant/task/server/node_modules/libpq/build'` directory.

I have the following installed

- gcc (Ubuntu/Linaro 4.6.3-1ubuntu5) 4.6.3
- GNU Make 3.81
- Python 2.7.3

[2016-06-21 04:43] ktstowell commented on #42
Im getting this as well. Last comment was in May. Have any of you found any work-around?

[2016-06-21 13:45] brianc commented on #42
Not sure what the issue is - I have no problem installing this on any version of node...probably something missing in your environment related to the C libpq not being found on the path or something? Can you type `pg_config` on your path without issue? That command should provide the path to libpq. the gypfile runs `pg_config` to find the location of libpq.h

[2016-06-21 13:46] Chris911 commented on #42
Here's mine @brianc:

[code]

[2016-06-21 13:50] brianc commented on #42
@Chris911 you're error looks weird:

Particularly the syntax error in a `./touch` javascript file.  I don't know where the file is coming from or why there's a syntax error in it.  Dumb question...but have you done a `rm -rf node_modules && npm i`? Sometimes this unfortunately helps.

[2016-06-21 13:52] Chris911 commented on #42
Yes I have. I can give it another shot today with Node latest.

[2016-06-21 14:02] brianc commented on #42
I just reverified I can compile on `node@6.1` and `node@6.2`  - I saw the same error @samdj had until I deleted `node_modules` and reinstalled, but everything else worked without a hitch.

The only other thing I can think of is maybe `npm i` isn't setting up the path to `node-gyp` properly when its running so when it attempts to execute a build the `node-gyp` command is missing.  Can you try cloni

[2016-07-04 13:59] ashish-soni commented on #28
@brianc I am also getting the same error and it appears randomly.

[2016-07-08 18:54] brianc commented on #28
Happy to take a pull request to fix this if you're able to narrow it down
to a repeatable thing & write tests for it - I've never seen it myself so
it doesn't really impact me.

On Mon, Jul 4, 2016 at 10:36 AM, Peter John <notifications@github.com>
wrote:

[2016-07-19 16:07] vitaly-t opened #45 "Fails to build/install with Visual Studio 2015"
**(see the update below)**

I don't know why, but I no longer can install this module. Presumably, something has changed on my Windows PC, but I cannot understand what.

Any help, please!

Complete output:

[code]

[2016-07-19 18:09] vitaly-t commented on #45
@brianc

I have found the problem. This library fails to build using Visual Studio 2015, but it builds successfully with Visual Studio 2013.

So I has to run the following command in order to make this library compile again:

[code]

This is, of course, a temporary solution, and the problem with VS2015 should be fixed.

[2016-07-19 19:54] brianc commented on #45
I don't support windows myself - if someone wants to contribute a fix to
get this building with VS2015 I'm happy to merge it in!

On Tue, Jul 19, 2016 at 1:09 PM, Vitaly Tomilov <notifications@github.com>
wrote:

[2016-07-19 19:59] vitaly-t commented on #45
@brianc just, I am using VS2015 Community, which is free to use both on Windows and Linux: https://code.visualstudio.com/download

So if you decide to fix it, you can easily install it on Linux and set it as the default C++ compiler for Node.js ;)

[2016-08-03 15:30] #45 closed

[2016-10-02 11:18] sjuvonen opened #47 "Both connect() and connectSync() return undefined value on 'success' on latest Node.js"
I am not able to create connections using Node 6.7.0 and libpq 1.8.5. Both connect() and connectSync() have no return value when the connection is successful (on libpq's side). Passing invalid parameters to the functions will result in an error and the error object is passed to my code as it should, but otherwise there is no value passed.

[code]

[2017-02-20 22:00] jayrosen1576 opened #50 "node cannot load app with libpq referenced"
I have a very simple node script in index.js:

[code]

uncommenting the libpq statement causes the following error when starting node:

[code]

I have tried a node-gyp rebuild, rebuilt the libpq solution manually in Visual Studio all to no avail. I have postgresql running so there's no problem there either. No idea where to go from here.

Btw, I'm on Windows 7 32-bit.

[2017-02-27 12:27] tomoakley opened #51 "Build error when installing on travis"
Hi, I'm getting a build error when installing `libpq` on Travis. I'm not using `pq-native` or `libpq` directly; I'm using Sequelize, which I guess implements your packages. Here is the error:

[code]

I'm a bit of a newbie to devops/CI so not really sure what you want or need to see to help debug the issue, but happy to provide any info from Travis or my build/code. It's failing on all versions of

[2017-04-07 01:18] scamden opened #53 "getting error as of 1.8.6"
[code]

[2017-04-07 21:46] scamden commented on #53
@brianc not sure who to ping here but this is a pretty major problem in a patch bump, so it's breaking all over the place for me, and probably a lot of other mac users

[2017-04-08 06:36] elhoyos commented on #53
I have the same error when using node@4.4.7, however when using node@6.9.5 it builds ok for me.

I recently installed XCode 8.3 with its Command Line Tools in 10.12.3. Can't tell if this was the cause of the problem.

#49 seems highly related.

[2017-04-10 02:44] brianc commented on #53
Hmm - it's building and passing in travis @ `1.4.x` and `1.6.x` - I'm 100% open to pull requests to fix build issues related to OS X + xcode + `1.4.x` node and would greatly appreciate them!  Feel free to ping me if you figure out what's wrong!

[2017-04-10 17:47] scamden commented on #53
verified the newest patch installs properly. thanks for publishin so quickly.

[2017-04-10 17:47] #53 closed

[2017-04-27 05:32] Daniel15 commented on #51
Can you provide the `npm-debug.log` file?

[2017-08-02 08:55] wingc-china commented on #40
Seems like you are missing the libpq-dev on your Windows. The libpq-dev can be installed directly on Linux as a package. On Windows, I installed libpq-dev equivalent by the vcpkg (https://blogs.msdn.microsoft.com/vcblog/2016/09/19/vcpkg-a-tool-to-acquire-and-build-c-open-source-libraries-on-windows/) by "vcpkg install libpq:x64-windows", and then set PATH to ensure the built pg_config.exe accessib

[2017-08-16 12:06] devmetal commented on #40
You will not belive what was the problem. I have two partitions, C, and D. The C holds the windows and the D is my data, games, programing stuffs. If i installed the postgresql to the D, the thing is not worked, but i tried to install to C, and its worked magically. I don't know what was the real problem. I use linux now, and all package working correctly, but on windows, my experience is somethin

[2017-08-16 12:06] #40 closed

[2017-08-16 16:31] brianc commented on #40
Glad you got it fixed! And yeah, building native packages on windows is difficult. 😬

[2017-09-14 13:27] kolya-ay commented on #50
Probably the same problem here. @jayrosen1576 had you resolved this?

[2017-09-14 13:52] jayrosen1576 commented on #50
nope. no feedback and no resolution.

[2017-09-14 19:07] brianc commented on #50
Hmm sorry about that - I don't currently support windows so you're kinda on your own with resolving that one!  If you find anything feel free to report back, open PR, whatever you'd like! Best of luck!  Also: you can just use the JavaScript client...it's plenty fast and even faster in some situations.

[2017-09-29 16:21] ademon82 opened #55 "bug installing"
anibal@LENOVO:~/eclipse-workspace/prueba12/WebContent/sequelize$ npm install

find: «/usr/pg*»: No existe el archivo o el directorio
gyp: Call to 'which pg_config || find /usr/bin /usr/local/bin /usr/pg* /opt -executable -name pg_config -print -quit' returned exit status 1 while in binding.gyp. while trying to load binding.gyp
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit c

[2017-11-16 02:52] rbudiharso commented on #43
over a year and no update on this? bummer

[2017-11-21 14:49] OllieJennings commented on #43
Yeah i am still hitting this issue a lot

[2017-11-22 12:32] rosulucian opened #57 "fail to install on windows with postgres 10"
The install fails during build when msbuild is looking for libpq.lib which apparently  - only libpq.dll and a libpq.a is there.  the install will work if another version of postgres is installed, I used 9.5, since libpq.lib is in the specified folder for the byndings.
Maybe others can check this as well. I didn`t manage to find libpq.lib in the bins for the v10 install.

[2018-02-22 22:53] travega opened #59 "Install failing with node 8.0.0"
I seem to be unable to install `libpq@1.8.7` with Node 8.0.0. I have `node-gyp@3.6.2` and `nan@2.9.1` already installed but I get the following any time try to install `libpq@1.8.7`

I'm running Postgres 10.2 via homebrew on MacOS 10.13.3

[code]

Any suggestions here? Thanks :)

[2018-02-23 10:10] travega commented on #59
I solved the issue by installing `libpq` separately via homebrew: `brew install libpq`. While I get a message saying that `libpq` may conflict with Postgres 10.2 it doesn't actually cause any issues with the version installed by Postgres. So, will serve as a workaround for now.

[2018-02-23 10:11] #59 closed

[2018-03-24 21:57] srayhunter commented on #29
@boriscosic Can you provide some more details on how you compiled libpq statically for includes in node_modules?

[2018-04-02 21:01] stephendeo commented on #43
ugh... just ran into this exact same issue today... =( I've tried reinstalling node, updating to the latest version in npm, clearing npm cache and directly calling npm from its global path /usr/local/lib/node/npm to install package.json... and manually giving my dir read and write access... and NOTHING! lol anyone else have any idea why this is happening?

[2018-04-30 00:53] cbaron opened #60 "Failed to install while running node v10.0.0"

[2018-05-10 10:48] cybermerlin opened #62 "failed `npm i pg-native` on node-gyp rebuild `libpq` on install it"

[2018-07-11 14:05] indreek opened #63 "Error on installing libpq"
Im trying to do simple npm install libpq and i get error
[code]

[2018-09-19 08:40] bazzilio commented on #43
Also hit the issue.
I can't hit the permission issue, because build node from the root.
:
[code]

debug logs
[code]

[2018-10-31 13:34] tapz commented on #60
Node 10.13.0:

error /project/node_modules/libpq: Command failed.
Exit code: 1
Command: node-gyp rebuild
Arguments:
Directory: /project/node_modules/libpq
Output:
gyp info it worked if it ends with ok
gyp info using node-gyp@3.8.0
gyp info using node@10.13.0 | darwin | x64
gyp info spawn /usr/bin/python
gyp info spawn args [ '/usr/local/Cellar/node@10/10.13.0/lib/node_modules/npm/node_modules/node

[2018-10-31 13:34] tapz commented on #62
error /project/node_modules/libpq: Command failed.
Exit code: 1
Command: node-gyp rebuild
Arguments:
Directory: /project/node_modules/libpq
Output:
gyp info it worked if it ends with ok
gyp info using node-gyp@3.8.0
gyp info using node@10.13.0 | darwin | x64
gyp info spawn /usr/bin/python
gyp info spawn args [ '/usr/local/Cellar/node@10/10.13.0/lib/node_modules/npm/node_modules/node-gyp/gyp/gyp_ma

[2018-11-22 01:43] etamponi commented on #57
Is there any plan to fix this issue? msys packages for postgresql don't include a file called libpq.lib, and I am really looking forward to be able to install libpq on my windows machine...

[2018-11-22 01:56] etamponi commented on #57
I solved this by installing postgresql 9.6 without msys.

[2019-02-22 18:43] Miraries opened #66 "Error finding libs on windows"
The following error comes up when installing:

After reading the input format reference for gyp I fixed it by changing the include_dirs in bindings from
`<!@(<(pgconfig) --includedir)`
to
`<!(<(pgconfig) --includedir)`

I'm not sure if this should be changed, can there be multiple include directories for postgres?
Anyway, with the former the compiler command has:
`/IE:\Program /I..\Files\PostgreSQ

[2019-05-09 06:15] urakagi commented on #60
Is this going to be fixed? Or should we always downgrade to node 8 when compiling `libpq`?

[2019-05-10 17:57] darkgl0w opened #68 "[RESOLVED] Node 12 support"
Hello,

I open this issue in order to track `nan` support for Node 12 here : https://github.com/nodejs/nan/issues/849.

Currently the PR I submitted here https://github.com/brianc/node-libpq/pull/67 is building successfully but segfault on tests inside Travis Node 12 environment. (so far I have no problem on my local machine).

For reference here is the report: https://travis-ci.org/brianc/node-li

[2019-05-11 23:11] btakita opened #69 "Error installing on Arch Linux & Node 12.2.0"
[code]

[2019-05-24 08:09] joaool commented on #69
on OSX, all up to date, node 12.3.1, npm install failed on the build process for libpq.
The error messages are a little but different, don't know if that is the same issue as the previous one

  CXX(target) Release/obj.target/addon/src/connection.o
../src/connection.cc:204:52: error: too few arguments to function call, single argument 'context' was not specified
  char* colName = PQfname(res, info

[2019-06-07 23:23] sandyplace commented on #68
Just checking has any movement happened on this issue yet? According to nodejs/nan it is no longer an open issue over there. Is it a matter of updating the package dependencies now?

[2019-06-08 09:57] darkgl0w commented on #68
@sandyplace > We are still working on this PR https://github.com/brianc/node-libpq/pull/67

[2019-07-17 22:57] ben-turner commented on #55
I'm also seeing this issue. In english: `find: ‘/usr/pg*’: No such file or directory`

[2019-10-23 10:09] #68 closed

[2019-12-30 20:32] studorFL commented on #69
This is still an issue on Node 12.14 as of today.

[2020-02-25 07:17] apunuj opened #74 "gyp: Call to 'pg_config --libdir' returned exit status 127 while in binding.gyp. while trying to load binding.gyp"
I am trying to install libpq with node js 13.9.0 on MacOS Majave (10.14).
Getting this error trace:
[code]

[2020-02-25 07:24] apunuj commented on #74
Once I installed postgresql using brew, like so:

[code]
the module installed without error.

[2020-02-25 07:24] #74 closed

[2020-03-02 22:44] DimaNazdratenko commented on #60
Up! Same problem. I have error Segmentation fault when run on node >=10.16.0

[2020-03-06 22:12] kriscarle commented on #69
I got this error on MacOS when upgrade from node 10. Deleting `package-lock.json` and `node_modules` and doing a clean `npm install` resolved it.

This was with:
libpq@1.8.9
Node 12.16.1
MacOS 10.15.2

[2020-03-25 18:31] royshil opened #75 "Error when cross compiling for ARM"
Hitting a GYP compilation problem when cross compiling:

[code]

Note that it's looking for `libpq.so` in the wrong location - it's the *host* sysroot and not the *target*.
This can be traced back to https://github.com/brianc/node-libpq/blob/master/binding.gyp
Where:
[code]
`pg_config` is picked up from `/usr/bin` - again the *host*.
Given we don't have `pg_config` for the *target* (e.g. it doesn'

[2020-03-25 20:00] royshil commented on #75
I've been able to get around the problem by adding
[code]
That way it finds the right `libpq.so` for the target. It doesn't solve the actual problem though.

[2020-04-30 09:06] sleewoo opened #76 "Feature Request: Multiple hosts in connection string with auto-switching"
First of all thanks for great lib, pretty stable and fast!

There is already an issue opened here https://github.com/brianc/node-postgres/issues/1470#issuecomment-621702121

would it be a duplicate?

Anyway, HA comes to masses nowadays and middleware(pgpool, pbbouncer, haproxy) renders redundant starting with PosgreSQL v10 where libpq can switch between hosts.

And the "rude" question itself - any

[2020-05-30 04:06] Xetera commented on #43
Installing some missing packages
[code]
seems to have fixed the issue for me

[2020-08-31 03:53] bencmbrook opened #78 "Getting a mem leak on "libpq:connection:emit'"
Is there any way `node-libpq` has a memory leak on this event?

https://github.com/brianc/node-libpq/blob/4848a6f91b5ec48e580b4d91156c659746a291e8/src/connection.cc#L804

If this is user error, can you provide any guidance on what type of (mis)usage may result in an ever-growing number of "libpq:connection:emit" asynchronous resources?

[2020-09-16 11:48] garcianavalon commented on #55
same here, CI jobs are failing because of this issue

[2020-10-18 06:29] LouisStAmour opened #79 "Can't use libpq with worker_threads - "Error: Module did not self-register" when two threads load 'pg'"
Seems to be related to: https://github.com/nodejs/node/issues/21783

[2020-12-07 20:12] betsy-fu opened #80 "Failing pg-native installation on Docker with node 12.14-slim"
Hi all, I created an issue with node-gyp [here](https://github.com/nodejs/node-gyp/issues/2274), and they redirected me, as it seems to be an issue with libpq's use of node-gyp.

X-posting the text of the issue below:

* **Node Version**: [node:12.14-slim](https://hub.docker.com/layers/node/library/node/12.14-slim/images/sha256-28197e7ddd657ac51c3f775d5df9f4aac10d155f0da5af438e41b8a2a54e5795)
* **

[2020-12-08 00:15] betsy-fu commented on #80
Turns out I had messed up some config in my Dockerfile, closing. `apt-get update && apt-get install -y libpq-dev g++ make` was sufficient

[2020-12-08 00:15] #80 closed

[2021-01-14 10:17] nazmuddin commented on #43
Did you find any solution for this? I am using node version 12, postgres 12. And getting the same issue.

[2021-01-23 17:08] ruimarinho commented on #78
@bencmbrook does https://github.com/brianc/node-libpq/pull/77/files fix your issue?

[2021-01-24 02:20] bencmbrook commented on #78
@ruimarinho can't say, sorry -- we've migrated off. Feel free to close this out since I can't verify the bugfix

[2021-02-09 10:01] YoungiiJC opened #81 "libpq/build/Release/addon.node, 1): no suitable image found. Apple Silicon M1 issue?"
SOLVED: For anyone who lands here. I solved this by deleting and reinstalling `node_modules` under the Rosetta 2 terminal. I had run `yarn install` in the M1 terminal, and was trying to call the program from Rosetta 2... 💀

Hey there. I'm getting the following error while trying to run a script on the new M1 Apple silicon. The error message is different for node 12 and node 14.

Any help here? I'v

[2021-02-09 10:32] YoungiiJC commented on #81
For anyone who lands here. I solved this by deleting and reinstalling `node_modules` under the Rosetta 2 terminal. I had run `yarn install` in the M1 terminal, and was trying to call the program from Rosetta 2... 💀

[2021-02-09 10:32] #81 closed

[2021-03-29 10:36] jeffreyrubi commented on #28
Experienced the same issue in my application. The problem happened occasionally but didn't know a concrete way to repeat it.

[code]

[2021-04-03 14:22] KibaShop opened #82 "SCRAM authentication requires libpq version 10 or above"
(node:12388) UnhandledPromiseRejectionWarning: Error: SCRAM authentication requires libpq version 10 or above

(Use `node --trace-warnings ...` to show where the warning was created)
(node:12388) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled w

[2021-04-15 07:31] zeigo commented on #74
The problem is `/bin/sh: pg_config: command not found`.  As the readme says, ` the pg_config program should be in your path`

[2021-09-07 12:42] gagyibenedek opened #83 "Is Node 14 supported?"
Based on the .travis.yml file it's not:
`node_js:
  - "12"
  - "10"
  - "8"
  - "6"
  - "4"`

  Is this correct?
  Does anyone have any pointers where I should look, if I was planning to create a PR that would introduce Node 14 compatibility?

[2021-12-02 00:39] lrowe commented on #29
I've been able to mostly replicate this with the following Dockerfile. However if I build `--with-openssl` (after installing openssl-devel) then it segfaults when running in Lambda. Not sure how to get the right version of openssl to build with or whether it's some other library pulled in when building with openssl.

[code]
Then to extract the result from the container:
[code]
I've just been addin

[2021-12-07 23:34] lrowe commented on #29
Updating to use openssl11 enables me to build / run successfully with ssl support:
[code]
Then to extract the result from the container:
[code]

[2021-12-09 22:19] andreisaikouski commented on #69
I still have this issue.

Reproduced on MacOs and `node:12.22.8-alpine`

[2022-06-22 17:19] benasher44 opened #84 "Mitigation for CVE-2022-25852"
Hi there. It appears a vulnerability has been flagged for libpq: https://github.com/advisories/GHSA-j32j-2hxv-rqf7. I'm not sure what the fix is, but I wanted to get this filed, as I haven't found any issue mentioning it yet.

[2022-07-14 18:07] danieljoppi commented on #84
I received the same alert from Mend: https://www.mend.io/vulnerability-database/CVE-2022-25852

`All versions of package pg-native; all versions of package libpq are vulnerable to Denial of Service (DoS) when the addons attempt to cast the second argument to an array and fail. This happens for every non-array argument passed. **Note:** pg-native is a mere binding to npm's libpq library, which in t

[2022-07-15 21:48] danieljoppi commented on #84
@brianc who can help with that?

[2022-07-18 14:41] JumpLink opened #85 "Can't install / build libpq on Fedora 36"
libpq version: 14.1-2.fc36

Error message:

[code]

[2022-07-19 17:35] myudhasyuhada commented on #85
I have same issue

[2022-08-19 16:27] brianc commented on #84
I'll fix this now...

[2022-08-28 07:35] crnch commented on #85
can confirm

[2022-08-28 07:50] crnch commented on #85
it's not an issue with `libpq` but rather an issue with `pg_config` returning a non-existing path:
[code]

[2022-09-13 05:43] cclauss commented on #83
Can this be closed?  It seems to run fine on GitHub Actions.

[2022-09-13 06:30] abhishek-rathore07 opened #91 "npm ERR! libpq@1.8.12 install: `node-gyp rebuild`"
I am running npm i in the project root and getting below error :-

npm ERR! code ELIFECYCLE
npm ERR! errno 7
npm ERR! libpq@1.8.12 install: `node-gyp rebuild`
npm ERR! Exit status 7
npm ERR!
npm ERR! Failed at the libpq@1.8.12 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm

[2022-09-27 10:31] #83 closed

[2022-10-10 08:23] kwokhou commented on #85
same issue

[2022-10-15 09:13] kwokhou commented on #85
I've encounter the same issue, but fixed using the following steps:

[code]

Proceed with `yarn` / `npm install`